<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User Data Generator</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.3/dist/semantic.min.js"></script>
    </head>
<body>
    <div class="ui container">
        <h1 class="ui center align header">User Data Generator</h1>
        <form class="ui form" action="/data" method="post">
            <div class="ui segment">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="firstname">
                  <label>First Name</label>
                </div>
              </div>
            <div class="ui segment">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="lastname">
                  <label>Last Name</label>
                </div>
              </div>
            <div class="ui segment">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="Age">
                  <label>Age</label>
                </div>
              </div>
              <div class="ui segment">
                  <div class="ui labeled ticked slider" id="restrictedlabelsslider"></div>
                </div>
            <input type="hidden" name="data" id="sliderValue">
            <button class="ui blue button" onclick="myFunc()" type="submit">Submit</button>
            <div class="ui indeterminate text loader" id="preparing">Preparing Files</div>
        </form>
    </div>
    <script>
        function myFunc() {
            $('#preparing').show();
            setTimeout(function() { $('#preparing').hide(); }, 3000);
        }
        if(!$('#sliderValue').val()) {
            $('#sliderValue').val(100);
        }
        
        $('.ui.labeled.ticked.slider').slider({
            restrictedLabels: [100, 500, 1000, 2000, 3000, 4000, 5000],
            min: 100,
            max: 5000,
            step: 100,
            smooth: true,
            showThumbTooltip: true,
            onChange: function(value) {
                $('#sliderValue').val(value);
                console.log('Your slider was changed to ' + value)
            },
            tooltipConfig: {
                position: 'bottom center',
                variation: 'small visible black'
            }
        });
    </script>
    </body>
</html>
